# Virtual environments
venv/

# Chroma DB
chroma_db/

# Environment variables


# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
llm_sources/

# Evaluation
results/

evaluation_results.csv
feedback/feedback.csv
.env
