streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-ollama
langchain-chroma
sentence-transformers
einops
langchain-google-genai